

<div id="accordion">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <div class="row">
              <a class="btn btn-link" style ="color: text-white" (click)="Edit()" data-toggle="collapse" attr.data-target="#{{grouptimetable.group_name}}" aria-expanded="true" aria-controls="collapseOne">
                  {{grouptimetable.group_name}}
                </a>
          </div>
        </h5>
      </div>
  
      <div attr.id="{{grouptimetable.group_name}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <h5 class="card-title" style="color:black"> <p  class="card-title" style="color:black"> Вопрос 1 из {{grouptimetable.group_tasks}} </p></h5>          
            <div  class="card border-info mb-3">   
                <div class="card-body">
                        <div *ngFor="let group_ta of grouptimetable.group_tasks2">
                            <p  class="card-title" style="color:black"> {{group_ta}}  </p>  
                  </div>
            
              </div>
            </div > 
            <div class="row">
                <input style="margin-left:16px" width="100px" type="text" placeholder="Ваш ответ" required>
                <a style="margin-left:10px"  class="btn btn-secondary"   role="button" href="#"  data-toggle="modal" data-target="#login-modal1"> Проверить ответ </a>
            </div>


            <div class="modal fade" id="login-modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
                <div class="modal-content">
                          <h5 style=" color:black; margin-top:10px; " align="center"> Ответ не верный </h5>
                          
                          <!-- Begin # DIV Form -->
                          <!-- End # DIV Form -->
                          
                </div>
              </div>
              </div>

          </div>
    </div>
  </div>
  </div>