<div class="container" style ="margin-bottom: 20px;">
</div>



<div class="container" >
      
        <div class="jumbotron" style =" padding: 20px;">
      
            <div class="md-form active-pink-2 mb-3">
                <input class="form-control" type="text" (keyup)="Search(searchInput)" placeholder="Search" [(ngModel)]="searchInput" aria-label="Search">
      
            </div>
             
            <div *ngIf="groups && groups.length > 0; else elseBlock">
                <div *ngFor="let group of groups; trackBy: trackById">

          <div class="row">
            <div class="col-12 col-md-12">
                <app-group [group]="group" [source]="source" (groupDeleted)="deleteFromList($event)"></app-group>
           </div>
</div>
</div>
</div>
</div>


<ng-template #elseBlock>
<div class="sorry-block">{{Loading}}</div>
</ng-template>
</div>
<!-- <app-infinite-scroll [newResultsService]="searchPositionService"></app-infinite-scroll> -->