
  <div id="accordion">
      <div class="card border-info mb-3">   
          <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <a class="btn btn-link" (click)="Check()" style ="color:black" data-toggle="collapse" attr.data-target="#{{group.group_id}}" aria-expanded="true" aria-controls="collapseOne">
                  <h5>{{group.group_name}}  (ID = {{group.group_id}})</h5>  
                </a>
              </h5>
            </div>
            <div attr.id="{{group.group_id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
                      <div class="row">
                          <div *ngIf="source!=true">  <a class="btn btn-secondary disabled"  (click)="CreateChat()" style ="margin-left: 20px; margin-top: 25px; padding-bottom:10px; "  role="button"> Создать чат </a> </div>
                          <div *ngIf="source!=true">  <a class="btn btn-secondary disabled"  (click)="DeleteChat()" style ="margin-left: 20px; margin-top: 25px; padding-bottom:10px;"  role="button"> Удалить чат </a> </div>   
                          <div *ngIf="source==true ">  <button class="btn btn-secondary " [disabled]="!cpossible" (click)="CreateChat()" style ="margin-left: 20px; margin-top: 25px; padding-bottom:10px; "  role="button"> Создать чат </button> </div>
                          <div *ngIf="source==true ">  <button class="btn btn-secondary " [disabled]="!dpossible" (click)="DeleteChat()" style ="margin-left: 20px; margin-top: 25px; padding-bottom:10px;"  role="button"> Удалить чат </button> </div>    
                                               </div>
                
              
              </div>





    </div> 
    </div> 