
    <div id="accordion">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <div class="row">
                  <a class="btn btn-link" style ="color: text-white" (click)="Edit()" data-toggle="collapse" attr.data-target="#{{group.c_name}}" aria-expanded="true" aria-controls="collapseOne">
                      {{group.c_name}}
                    </a>
              </div>
            </h5>
          </div>
      
          <div attr.id="{{group.c_name}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <h5 class="card-title" style="color:black"> <p  class="card-title" style="color:black">Описание: {{group.c_desc }}  </p></h5>          
                <a [routerLink]="['/jobs']" class="btn btn-secondary"   role="button"> Перейти к вакансиям </a>
              </div>
        </div>
      </div>
      </div>